﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model dotnet_ef_core6.DataContext.AssetEntity
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Details</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>No Asset</th>
        <td>@Model.NoAsset</td>
    </tr>
    <tr>
        <th>Asset Name</th>
        <td>@Model.AssetName</td>
    </tr>
    <tr>
        <th>Asset Type</th>
        <td>@Model.AssetType</td>
    </tr>
    <tr>
        <th>Purchase Year</th>
        <td>@Model.PurchaseYear</td>
    </tr>

</table>
