﻿@model dotnet_ef_core6.DataContext.CategoryEntity
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}
<h2>Delete</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete this?</h3>
<form asp-action="GetAll" method="get">
    <button type="submit" class="btn btn-primary">Yes</button>
</form>
