﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model dotnet_ef_core6.DataContext.CategoryEntity
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Details</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Category Code</th>
        <td>@Model.CategoryCode</td>
    </tr>
    <tr>
        <th>Category Name</th>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>

</table>
