﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model dotnet_ef_core6.DataContext.AuditEntity
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Add Asset</h2>
<form asp-action="Save" asp-controller="Audit" method="post">
    <div class="form-group">
        <label asp-for="NoAsset"></label>
        <input asp-for="NoAsset" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AssetName"></label>
        <input asp-for="AssetName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SerialNo"></label>
        <input asp-for="SerialNo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PIC"></label>
        <input asp-for="PIC" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TypeWindows"></label>
        <input asp-for="TypeWindows" class="form-control" />
    </div>

    <div class="form-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>
