﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<dotnet_ef_core6.DataContext.AuditEntity>
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>All Audit</h2>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>ID</th>
        <th>No Asset</th>
        <th>Asset Name</th>
        <th>Serial No</th>
        <th>PIC</th>
        <th>Type Windows</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NoAsset</td>
                <td>@item.AssetName</td>
                <td>@item.SerialNo</td>
                <td>@item.PIC</td>
                <td>@item.TypeWindows</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Add" class="btn btn-primary">Add</a>
